body {
    background-color: rgba(160, 36, 141, 0.123);
    font: normal 14pt Arial;
}

header {
    text-align: center;
}

section {
    background: white;
    border-radius: 15px;
    padding: 30px;
    margin: auto;
    width: 500px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);

}

div {
    margin-top: 10px;
}

#divAno {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;    
}

#divSex{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 19px;
}

div#resp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

input[type="number"] {
    width: 60px;
    margin-left: 10px;
}

input[type="radio"]+label {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin: -3px 80px 0 0;
    vertical-align: middle;    
    cursor: pointer; /*coloca a maozinha */
}

#divBtn{
    text-align: center;
}



footer {
    text-align: center;
    padding-top: 10px;
}